@charset "UTF-8";
.card{
    background: rgb(245,245,245);
    border: 1px solid rgb(190,190,190);
    width: 70px;
    height: 70px;
    display: inline-block;
    margin: 10px;
    border-radius: 4px;
    color: green;
}
.hearts{
    color: rgb(250,100,100);
    width: 60px;
    height: 30px;
    display: inline-block;
    font-size: 30px;
}
.spades{
    width: 60px;
    height: 30px;
    display: inline-block;
    color: black;
    font-size: 30px;
}
.clubs{
    width: 60px;
    height: 30px;
    display: inline-block;
    color: black;
    font-size: 30px;
}
.diams{
    color: rgb(250,100,100);
    width: 60px;
    height: 30px;
    display: inline-block;
    font-size: 30px;
}
.table{
    width: 700px;
    height:610px;
    margin: 5px;
    background: url("bg1.jpg") rgb(240,245,250);
    border: 1px solid rgb(150,150,180);
    float: left;
    padding: 10px;
}