@charset "UTF-8";
/*.card{*/
    /*background: rgb(245,245,245);*/
    /*border: 1px solid rgb(190,190,190);*/
    /*width: 70px;*/
    /*height: 70px;*/
    /*display: inline-block;*/
    /*margin: 10px;*/
    /*border-radius: 4px;*/
    /*color: green;*/
/*}*/
.card:hover{
    border: 1px solid black;
    box-shadow: 0px 0px 10px #fff;
}
.table{
    width: 700px;
    height:610px;
    margin: 5px;
    background: url("../images/bg1.jpg") rgb(240,245,250);
    border: 1px solid rgb(150,150,180);
    float: left;
    padding: 10px;
}
#scores{
    border-collapse: collapse;
    width: 99%;
    margin: 1px auto;
}
#scores td, #scores th{
    padding: 4px;
    text-align: center;
    border: 1px solid #444;
}
.card{
    border: 1px solid rgb(190, 190, 190);
    width: 72px;
    height: 103px;
    display: inline-block;
    border-radius: 4px;
    background-image: url("../images/card-deck-01.jpg");
}
.cardInvisible{
    border: 1px solid rgb(190, 190, 190);
    width: 72px;
    height: 103px;
    display: inline-block;
    border-radius: 4px;
    background-image: url("../images/deckShape.jpg");
}
.hor .card, .hor .cardInvisible{
    margin: 0 -15px;
}
.vert .card, .vert .cardInvisible{
    margin: -15px 0 ;
}
.vert .pinfo{
    margin: 0 0 16px 0;
}
.diams1{
    background-position: -1001px -29px;
}
.diams13{
    background-position: -921px -30px;
}
.diams12{
    background-position: -841px -29px;
}
.diams11{
    background-position: -763px -29px;
}
.diams10{
    background-position: -683px -29px;
}
.diams9{
    background-position: -604px -29px;
}
.diams8{
    background-position: -524px -29px;
}
.diams7{
    background-position: -445px -29px;
}
.diams6{
    background-position: -366px -29px;
}
.diams5{
    background-position: -287px -29px;
}
.diams4{
    background-position: -207px -29px;
}
.diams3{
    background-position: -127px -29px;
}
.diams2{
    background-position: -48px -29px;
}
.spades1{
    background-position: -1001px -363px;
}
.spades13{
    background-position: -921px -363px;
}
.spades12{
    background-position: -841px -363px;
}
.spades11{
    background-position: -763px -363px;
}
.spades10{
    background-position: -683px -363px;
}
.spades9{
    background-position: -604px -363px;
}
.spades8{
    background-position: -524px -363px;
}
.spades7{
    background-position: -446px -363px;
}
.spades6{
    background-position: -366px -363px;
}
.spades5{
    background-position: -287px -363px;
}
.spades4{
    background-position: -207px -363px;
}
.spades3{
    background-position: -127px -363px;
}
.spades2{
    background-position: -48px -363px;
}
.hearts1{
     background-position: -1001px -252px;
 }
.hearts13{
    background-position: -921px -252px;
}
.hearts12{
    background-position: -841px -252px;
}
.hearts11{
    background-position: -763px -252px;
}
.hearts10{
    background-position: -683px -252px;
}
.hearts9{
    background-position: -604px -252px;
}
.hearts8{
    background-position: -524px -252px;
}
.hearts7{
    background-position: -445px -252px;
}
.hearts6{
    background-position: -366px -252px;
}
.hearts5{
    background-position: -287px -252px;
}
.hearts4{
    background-position: -207px -252px;
}
.hearts3{
    background-position: -127px -252px;
}
.hearts2{
    background-position: -48px -252px;
}
.clubs1{
     background-position: -1001px -141px;
 }
.clubs13{
    background-position: -921px -141px;
}
.clubs12{
    background-position: -841px -140px;
}
.clubs11{
    background-position: -763px -141px;
}
.clubs10{
    background-position: -683px -140px;
}
.clubs9{
    background-position: -604px -140px;
}
.clubs8{
    background-position: -524px -140px;
}
.clubs7{
    background-position: -444px -140px;
}
.clubs6{
    background-position: -366px -140px;
}
.clubs5{
    background-position: -287px -140px;
}
.clubs4{
    background-position: -207px -140px;
}
.clubs3{
    background-position: -127px -140px;
}
.clubs2{
    background-position: -48px -140px;
}